<?xml version="1.0"?>
<ruleset name="Promptbench">
	<description>PHPCS ruleset for Promptbench.</description>

	<!-- What to scan -->
	<file>.</file>

	<!-- Exclude files and folders -->
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/deploy/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/vendor-prefixed/*</exclude-pattern>
	<exclude-pattern>*lib/*</exclude-pattern>
	<exclude-pattern>*\.(css|js)</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>

	<!-- Minimum support WP Version. -->
	<config name="minimum_wp_version" value="7.0"/>

	<!-- PHP version check. -->
	<config name="testVersion" value="8.0-"/>

	<rule ref="NilambarCodingStandard"/>

	<!-- Don't worry about files that don't contain any code -->
	<rule ref="Internal.NoCodeFound">
		<severity>0</severity>
	</rule>

	<rule ref="WordPress">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="Generic.Functions.CallTimePassByReference"/>
	</rule>

	<!-- Enforce short arrays. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="promptbench" />
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="" />
			</property>
			<property name="new_text_domain" value="promptbench" />
		</properties>
	</rule>

	<rule ref="WordPress-Extra">
		<!-- Forget about file names -->
		<exclude name="WordPress.Files.FileName"/>

		<!-- Allow WP global modification -->
		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>

		<!-- This nonce sniff almost never works right -->
		<exclude name="WordPress.Security.NonceVerification.Missing"/>

		<!-- Remove nonce notice -->
		<exclude name="WordPress.Security.NonceVerification.Recommended"/>
	</rule>

	<!-- Sometimes we need to override globals -->
	<rule ref="WordPress.WP.GlobalVariablesOverride.OverrideProhibited">
		<type>warning</type>
	</rule>

	<!-- Loads the PHP Compatibility ruleset. -->
	<rule ref="PHPCompatibility">
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.str_containsFound"/>
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.str_starts_withFound"/>
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.str_ends_withFound"/>
	</rule>

	<!-- Disallows grouped use declarations. -->
	<rule ref="SlevomatCodingStandard.Namespaces.DisallowGroupUse" />
	<!-- Disallows leading backslash in use statement. -->
	<rule ref="SlevomatCodingStandard.Namespaces.UseDoesNotStartWithBackslash" />
	<!-- Checks whether uses at the top of a file are alphabetically sorted. -->
	<rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses" />
	<!-- Prohibits uses from the same namespace. -->
	<rule ref="SlevomatCodingStandard.Namespaces.UseFromSameNamespace" />
	<!-- Looks for unused imports from other namespaces. -->
	<rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
		<properties>
			<property name="searchAnnotations" value="true" />
		</properties>
	</rule>
	<!-- All references to functions, classes and constants should import using a use statement. -->
	<rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly">
		<properties>
			<property name="allowFallbackGlobalConstants" value="true" />
			<property name="allowFallbackGlobalFunctions" value="true" />
			<property name="allowFullyQualifiedExceptions" value="false" />
			<property name="allowFullyQualifiedGlobalClasses" value="false" />
			<property name="allowFullyQualifiedGlobalConstants" value="true" />
			<property name="allowFullyQualifiedGlobalFunctions" value="true" />
			<property name="allowFullyQualifiedNameForCollidingClasses" value="true" />
		</properties>
	</rule>

</ruleset>
